body {
    min-height: 100vh; // Test
}

h1 {
    font-size: 2.5rem;
    @include bp($small) {
        font-size: 3.5rem;
    }
    @include bp($medium) {
        font-size: 4rem;
    }
    @include bp($large) {
        font-size: 4.5rem;
    }
    @include bp($xlarge) {
        font-size: 5rem;
    }
}
h2 {
    font-size: 1.75rem;
    @include bp($small) {
        font-size: 2.5rem;
    }
    @include bp($medium) {
        font-size: 3rem;
    }
    @include bp($large) {
        font-size: 3.5rem;
    }
    @include bp($xlarge) {
        font-size: 4rem;
    }
}

// Nav
.navbar {
    &-nav {
        flex-direction: row;
    }
    .nav-link {
        color: $c-white;
        &:hover {
            color: $c-accent;
        }
    }
    .nav-item {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Additional classes */
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}