section {
    border-bottom: 1px solid $c-gray-light;
}

.works-filters {
    a.btn {
        margin-bottom: 0.25rem;
    }
}

#works-container {
    transition: height .8s ease-in-out;
}

.work {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    .img {
        overflow: hidden;
        position: relative;
        &::after {
            // "Expand" icon
            content: '\f065';
            transition: all 0.3s ease-in-out;
            display: block;
            position: absolute;
            padding: 0.3rem;
            top: 0;
            right: 0;
            font-size: 2rem;
            line-height: 1;
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;

            color: white;
            background: rgba(0,0,0,.5);

            visibility: hidden;
            transform: translateY(-100%);
            opacity: 0;
        }
        img {
            transition: transform ease .7s;
        }
        &:hover {
            &::after {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
            }
            img {
                transform: scale(1.1);
            }
        }
    }
    .links {
        a {
            color: $c-text;
            &:hover {
                color: $c-blue;
                text-decoration: none;
            }
        }
    }
    &-modal {
        position: relative;
        max-width: 90vw;
        @include bp($large) {
            max-width: 900px;
        }
    }
    &.no-github {
        .js-links-github {
            display: none;
        }
    }
}