.site-header {
    // min-height: 100vh; // Test
    background-image: url('../img/patterns/overlay.png'),
                      linear-gradient(170deg, #111 10%, $c-gray 80%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    .top-head {
        background: transparent;
    }
    &.sticky {
        padding-top: 56px;
        .top-head {
            position: fixed;
            top: 0;
            width: 100%;
            background-image: url('../img/patterns/overlay.png'),
                              linear-gradient(170deg, #111 10%, $c-gray 80%);
            z-index: 100;
            animation: sticky .5s forwards;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
        }
    }
}

.logo,
.navbar {
    a {
        color: $c-white;
        position: relative;
        display: inline-block;
        &:after,
        &:before {
            position: absolute;
            top: 50%;
            opacity: 0;
            transform: translateY(-50%);
            transition: all 300ms ease-in-out;
        }
        &:before {
            content: '[';
            left: -5px;
        }
        &:after {
            content: ']';
            right: -5px;
        }
        text-decoration: none;
        &:hover {
            color: $c-white !important;
            &:after,
            &:before {
                opacity: 1;
            }
            &:after {
                right: -15px;
            }
            &:before {
                left: -15px;
            }
        }
    }
}

.menu-hamburger {
    position: relative;
    display: inline-block;
    height: 21px;
    width: 25px;
    .line {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: $c-white;
        top: 0;
        left: 0;
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;
        &:nth-child(2) {
            top: 43%;
        }
        &:nth-child(3) {
            top: auto;
            bottom: 0;
        }
    }
}
.mm-ocd-opened {
    .menu-hamburger {
        .line {
            &:nth-child(1) {
                transform: translate(0, 10px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translate(0, -8px) rotate(-45deg);
            }
        }
    }
}
.mm-ocd__content {
    width: 250px;
    @include bp($small) {
        width: 350px;
    }
    .mm-spn {
        background-image: url('../img/patterns/overlay.png'), linear-gradient(45deg, #111 10%, $c-gray 80%);
        display: block;
        .close {
            background: none;
            display: block;
            color: $c-white;
            cursor: pointer;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
        ul {
            background: none;
            padding: 0 35px;
            @include bp($small) {
                padding: 0 50px;
            }
            &:before {
                display: none;
            }
            li {
                &:before {
                    display: none;
                }
                &:after {
                    opacity: .5;
                    margin-left: 0;
                }
                a {
                    text-transform: uppercase;
                    background: none;
                    font-weight: bold;
                    font-size: 14px;
                    padding: 1.5em 0;
                }
            }
        }
        
    }
}