.mfp-fade {
    &.mfp-bg {
        opacity: 0;
        transition: all .15s ease-out;
        &.mfp-ready {
            opacity: 0.8;
        }
        &.mfp-removing {
            opacity: 0;
        }
    }
    &.mfp-wrap {
        .mfp-content {
            opacity: 0;
            transition: all .15s ease-out;
        }
        &.mfp-ready {
            .mfp-content {
                opacity: 1;
            }
        }
        &.mfp-removing {
            .mfp-content {
                opacity: 0;
            }
        }
    }
}

.contact-modal {
    &[data-status="error"] {
        border-left: 10px solid red;
    }
    &[data-status="success"] {
        border-left: 10px solid green;
    }
}